.bookingTicket {
  padding: 150px 9.86111111% 80px 9.86111111%;
  .time {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
    p {
      font-size: 18px;
      color: rgb(171, 171, 171);
      padding-bottom: 15px;
    }
    span {
      color: orange;
    }
  }
  .sreen {
    img {
      object-fit: center;
      width: 100%;
      height: auto;
    }
  }
  .chairs {
    .itemChair {
      cursor: pointer;
      position: relative;
      img {
        object-fit: contain;
      }
      .nameChair {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
      }
    }
  }
  .TypeChair {
    padding-top: 50px;
    img {
      object-fit: contain;
    }
    p {
      color: white;
      text-align: center;
    }
  }
  .inforTicket {
    padding: 50px;
    background-color: #9fa0a1;
    height: 700px;
    img {
      width: 100%;
      object-fit: cover;
      height: auto;
    }
    .title {
      color: #434444;
      display: inline-block;
      font-size: 15px;
    }
    .content {
      font-size: 18px;
      color: #111;
      font-weight: 700;
    }
  }
}
